<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Example</display-name>

  <listener>
    <listener-class>com.coldhardcode.Scatter</listener-class>
  </listener>

  <!-- Declare the existence of a servlet. -->
  <servlet>
    <servlet-name>Scatter</servlet-name>
    <servlet-class>com.coldhardcode.Scatter</servlet-class>
  </servlet>

  <!-- Map URLs to that servlet. -->
  <servlet-mapping>
    <servlet-name>Scatter</servlet-name>
    <url-pattern>/servlet/*</url-pattern>
  </servlet-mapping>
</web-app>